.results-block {
  margin-top: 20px;
  padding: 10px 10px;
  background: #EFEFEF;
}

.show-name {
  font-size: 25px
}

hr {
  border: 1px;
  color: #000;
}

.ng-hide:not(.ng-hide-animate) {
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
